<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Grow Simplee Client</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- CSS -->
    
        <style>
            #my_camera {
                border: 4px solid black;
            }

            .camera-container {
                position: absolute;
                top: -570px;
                left: -400px;
                width: 1200px;
                height: 1600px;
                margin: 0 auto;
                scale: 0.25;
            }

            .content {
                margin-top: 430px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                flex-direction: column;
            }
            form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                height: 200px;
            }
            #results {
                width: 50%;
            }
            #inputBox {
                visibility: hidden;
                display: flex;
                justify-content: center;
                width: 50%;
                flex-direction: column;
                align-items: center;
            }
            #productID {
                width: 180px;
                max-width: 250px;
                margin: 10px;
            }
            #productHeight {
                width: 180px;
                margin: 10px;
            }
            #takeSnapshotBtn {
                margin: 10px;
            }
            #uploadBtn {
                margin: 10px;
            }
        </style>
    
        <div class="camera-container">
            <div id="my_camera"></div>
        </div>
        <div class="content">
            <div style="display: flex; align-items: center; justify-content: center;">
                <input type="button" class="btn btn-primary" id="takeSnapshotBtn" value="Take Snapshot" onClick="take_snapshot()">
                <div class="switch" id="switchId" style="cursor: pointer; opacity: 0.5;">
                    <svg style="width: 3rem; height: 3rem;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"  viewBox="0 0 504.227 504.227" xml:space="preserve" width="512" height="512">
                        <g>
                            <path style="fill:#E95B2D;" d="M139.689,166.36v87.542c0,29.271,23.729,53,53,53h118.849c29.271,0,53-23.729,53-53V166.36H139.689z   "/>
                            <rect x="192.689" y="306.902" style="fill:#E95B2D;" width="118.849" height="189.825"/>
                            <rect x="236.856" y="339.361" style="fill:#FABA45;" width="30.515" height="53.752"/>
                            <path style="fill:#FABA45;" d="M335.531,166.36c-16.531-28.949-47.694-48.464-83.418-48.464c-35.723,0-66.887,19.515-83.417,48.464   H335.531z"/>
                            <path style="fill:#0F2639;" d="M339.763,158.86c-18.877-29.999-52.056-48.464-87.65-48.464c-35.594,0-68.773,18.465-87.65,48.464   h-32.274v95.042c0,30.819,23.169,56.311,53,60.019v190.306h133.849V313.921c29.831-3.708,53-29.2,53-60.019V158.86H339.763z    M357.038,173.86v16.253h-13.106V173.86h4.519H357.038z M188.401,173.86v16.253h-13.106V173.86H188.401z M203.401,173.86h13.106   v16.253h-13.106V173.86z M231.508,173.86h13.106v16.253h-13.106V173.86z M259.614,173.86h13.106v16.253h-13.106V173.86z    M287.719,173.86h13.106v16.253h-13.106V173.86z M315.825,173.86h13.106v16.253h-13.106V173.86z M252.114,125.396   c27.142,0,52.648,12.552,69.3,33.464H182.813C199.466,137.948,224.972,125.396,252.114,125.396z M155.777,173.86h4.518v16.253   h-13.106V173.86H155.777z M200.189,489.227V314.402h103.849v144.161h-91.347v15h91.347v15.664H200.189z M311.538,299.402H192.689   c-25.089,0-45.5-20.411-45.5-45.5v-48.789h209.849v48.789C357.038,278.991,336.627,299.402,311.538,299.402z"/>
                            <path style="fill:#0F2639;" d="M274.871,331.861h-45.515v68.752h45.515V331.861z M259.871,346.861v11.876h-15.515v-11.876H259.871z    M244.356,385.613v-11.876h15.515v11.876H244.356z"/>
                            <rect x="244.614" y="55.952" style="fill:#0F2639;" width="15" height="40.948"/>
                            <rect x="244.614" style="fill:#0F2639;" width="15" height="40.948"/>
                            
                                <rect x="298.112" y="70.31" transform="matrix(0.8656 0.5007 -0.5007 0.8656 86.5148 -140.8127)" style="fill:#0F2639;" width="15" height="40.948"/>
                            
                                <rect x="326.126" y="21.875" transform="matrix(0.8657 0.5006 -0.5006 0.8657 66.025 -161.3402)" style="fill:#0F2639;" width="15" height="40.948"/>
                            
                                <rect x="191.227" y="70.245" transform="matrix(-0.8662 0.4996 -0.4996 -0.8662 416.1983 70.011)" style="fill:#0F2639;" width="15" height="40.947"/>
                            
                                <rect x="150.298" y="34.75" transform="matrix(0.4996 0.8663 -0.8663 0.4996 122.0541 -126.7905)" style="fill:#0F2639;" width="40.949" height="15"/>
                        </g>
                </div>
            </div>
            <form method="POST" action="javascript:void(0);" onSubmit="uploadFunc()">
                <div id="results"></div>
                <div id="inputBox">
                    <input type="text" id="productID" name="productID" placeholder="Enter productID">
                    <input type="text" id="productHeight" name="productHeight" placeholder="Enter height">
                    <input type="hidden" id="imgBase64" name="imgBase64">
                    <input id="submitBtn" class="btn btn-success" onclick="uploadFunc()" type="button" value="Upload">
                </div>
            </form>
            <div id="upload-status-container" style="display: flex; align-items: center; justify-content: center; width:100%; height: 1.5rem;">
                <p id="upload-status"></p>
            </div>
        </div>

        

        
        <!-- Script -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
        
        <!-- Code to handle taking the snapshot and displaying it locally -->
        <script language="JavaScript">
        
        // Configure a few settings and attach camera
        Webcam.set({
            width: 1200,
            height: 1600,
            image_format: 'jpeg',
            jpeg_quality: 100,   // best quality
            constraints: {
                facingMode: 'environment'
              }
        });
        Webcam.attach( '#my_camera' );
        
        // preload shutter audio clip
        var shutter = new Audio();
        shutter.autoplay = true;
        shutter.src = navigator.userAgent.match(/Firefox/) ? 'shutter.ogg' : 'shutter.mp3';
        

        



        // ==============================================================================
        
        

        //have a console on mobile
        const consoleOutput = document.getElementById("console");
        const log = function (msg) {
        consoleOutput.innerText = `${consoleOutput.innerText}\n${msg}`;
        console.log(msg);
        }

        //Test browser support
        const SUPPORTS_MEDIA_DEVICES = 'mediaDevices' in navigator;

        if (SUPPORTS_MEDIA_DEVICES) {
        //Get the environment camera (usually the second one)
        navigator.mediaDevices.enumerateDevices().then(devices => {

            const cameras = devices.filter((device) => device.kind === 'videoinput');

            if (cameras.length === 0) {
            log('No camera found on this device.');
            }
            // Create stream and get video track
            navigator.mediaDevices.getUserMedia({
            video: {
                facingMode: 'environment',
            }
            }).then(stream => {
            const track = stream.getVideoTracks()[0];

            // Create image capture object and get camera capabilities
            const imageCapture = new ImageCapture(track)
            imageCapture.getPhotoCapabilities().then(capabilities => {
                // let there be light!
                const btn = document.querySelector('.switch');
                const torchSupported = !!capabilities.torch || (
                'fillLightMode' in capabilities &&
                capabilities.fillLightMode.length != 0 &&
                capabilities.fillLightMode != 'none'
                );

                if (torchSupported) {
                let torch = false;
                btn.addEventListener('click', function (e) {
                    document.getElementById("switchId").style.opacity = (1 - torch*0.5).toString();
                    try {
                        track.applyConstraints({
                        advanced: [{
                        torch: (torch = !torch)
                        }]
                    });
                    } catch (err) {
                    log(err);
                    }
                });
                } else {
                    log("No torch found");
                }
            }).catch(log);
            }).catch(log);
        }).catch(log);

        // The light will be on as long the track exists
        }  
        
        
        
        
        
        // ==============================================================================
        
        function take_snapshot() {
            // play sound effect
            shutter.play();

        
            // take snapshot and get image data
            Webcam.snap( function(data_uri) {
            // display results in page
            document.getElementById('imgBase64').value = data_uri;
            document.getElementById('inputBox').style.visibility = 'visible';
            document.getElementById('productID').value = '';
            document.getElementById('productHeight').value = '';
            document.getElementById('results').innerHTML = 
                '<img src="'+data_uri+'" style="width:120px; object-fit: cover;"/>';
            });
            document.getElementById('upload-status').remove();
        }
        </script>

        <script src="" async defer></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript">
            function uploadFunc()
            {
                var ele = document.createElement('p');
                ele.innerHTML = 'Uploading...';
                ele.id = 'upload-status';
                ele.style.color = 'red';
                ele.style.fontSize = '1.5rem';
                document.getElementById('upload-status-container').appendChild(ele);
                $.ajax({
                    url: '/upload/',
                    type: 'POST',
                    data: {
                        productID: document.getElementById('productID').value,
                        productHeight: document.getElementById('productHeight').value,
                        imgBase64: document.getElementById('imgBase64').value,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(msg) {
                        // alert(msg);
                        var ele = document.getElementById('upload-status');
                        ele.style.color = '#0261c7';
                        ele.innerHTML = "Volume: " + msg + " cm<sup>3</sup>";
                    }
                });
                return false;
            }
        </script>

        
    </body>
</html>